[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-taggit = "*"
djangorestframework = "*"
django-taggit-serializer = "*"
django-rest-auth = "*"
django-allauth = "*"
drf-yasg = "*"

[requires]
python_version = "3.8"
